<p>Olá mundo!</p>
<button (click)="showExemplo()">{{txtButton}}</button>
@switch (showHideExemplo) {
    @case (true) {
        <app-exemplo 
        txtTitulo="Case Exemplo" 
        [sub]="subtitulo"
        texto="Texto de exemplo">
    </app-exemplo>
    }
    @default {
        <app-exemplo 
        txtTitulo="Default Exemplo" 
        [sub]="subtitulo"
        texto="Texto de exemplo">
    </app-exemplo>
    }
}


<!--
@if (showHideExemplo) {
    <app-exemplo 
        txtTitulo="If Exemplo" 
        [sub]="subtitulo"
        texto="Texto de exemplo">
    </app-exemplo>
}@else {
    <app-exemplo 
        txtTitulo="Else Exemplo" 
        [sub]="subtitulo"
        texto="Texto de exemplo">
    </app-exemplo>
}
    -->